.divisor {
    border: none;
    border-top: 1px solid #444;
    margin-top: 30px;
}

.manage-container {
    width: 100%;
    height: 30px;
    margin-top: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.manage-button {
    background-color: #222;
    color: aquamarine;
    border: none;
    font-size: 25px;
    cursor: pointer;
    padding: 0 7px;
}

.manage-button:focus {
    outline: none;
}

.manage-container input[type='file'] {
    display: none;
}

#import-file {
    font-size: 20px;
    padding-bottom: 2px;
    margin-right: 3px;
}

#save-tasks {
    transition: color 0.5s ease;
}

#delete-all {
    transition: color 0.5s ease;
}

@media (max-device-width: 500px) {
    .divisor {
        border-top: 2px solid #444;
        margin-top: 60px;
    }

    .manage-container {
        height: 60px;
        margin-top: 120px;
        position: relative;
    }

    .manage-button {
        font-size: 55px;
        padding: 0 20px;
    }

    #import-file {
        font-size: 50px;
        padding-bottom: 4px;
        margin-right: 6px;
    }

    #save-tasks {
        font-size: 60px;
    }

    #delete-all {
        font-size: 70px;
    }
}