.task-container {
    background-color: #444;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    color: white;
    cursor: pointer;
    user-select: none;
    transition: background 0.2s ease;
}

.task-container:hover {
    background-color: #555;
}

.task-title {
    width: 80%;
}

.task-title p {
    overflow: hidden; 
    text-overflow: ellipsis;
    user-select: none;
}

.buttons-container {
    min-width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.description-icon {
    font-size: 15px;
    color: #888;
    margin-right: 7px;
}

.complete-task-button {
    color: aquamarine;
    border: none;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
    margin: 0 5px;
}

.complete-task-button:hover {
    color:white
}