.button {
    background-color: aquamarine;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    font-size: 16px;
    color: #444;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
    font-family: 'HemiHead';
}

.button:hover {
    background-color: #444;
    color: aquamarine;
}

@media (max-device-width: 500px) {
    .button {
        height: 80px;
        padding: 0 20px;
        border-radius: 10px;
        font-size: 32px;
    }
}