.header-container {
    width: 100%;
    height: 40px;
    color:white;
    font-size: 27px;
    overflow: hidden; 
    text-overflow: ellipsis;
    font-family: 'HemiHead';
}

@media (max-device-width: 500px) {
    .header-container {
        height: 5rem;
        font-size: 5rem;
    }
}