textarea {
    padding: 15px 20px;
    background-color: #444;
    border-radius: 10px;
    border: none;
    margin-top: 15px;
    margin-bottom: 20px;
    color:ghostwhite;
    border: none;
    width: 100%;
    min-height: 100px;
    resize: none;
}

.back-button-container {
    max-width: 50%;
}