.calendar-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.date-container {
    width: 100%;
    height: 60px;
}

.date-container p {
    color:white;
    font-size: 17px;
    font-family: 'HemiHead';
}

.date-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #444;
    margin-top: 5px;
    width: 90%;
    height: 30px;
    border-radius: 15px;
    padding: 0 15px;
    user-select: none;
}

.calendar-icon {
    color: aquamarine;
    font-size: 14px;
    cursor: pointer;
}

.calendar-icon:hover {
    color:white;
}

.date-selector input {
    background-color: #444;
    color: white;
    width: 130px;
    border: none;
    pointer-events: none;
    font-family: 'OpenSans';
    font-size: 14px;
    padding-bottom: 3px;
}

.date-container input:focus {
    outline: #ddd solid 1px;
}

@media (max-device-width: 500px) {
    .calendar-container {
        margin-bottom: 80px;
    }

    .date-container {
        height: 120px;
    }

    .date-container p {
        font-size: 40px;
    }

    .date-selector {
        margin-top: 20px;
        height: 60px;
        border-radius: 30px;
        padding: 0 30px;
    }

    .calendar-icon {
        font-size: 28px;
    }

    .date-selector input {
        width: 260px;
        font-size: 30px;
        padding-bottom: 6px;
    }

    .react-datepicker {
        font-size: 1.33em;
    }
    .react-datepicker__header {
        padding-top: 0.8em;
    }
    .react-datepicker__month {
        margin: 0.4em 1em;
    }
    .react-datepicker__day-name, .react-datepicker__day {
        width: 1.9em;
        line-height: 1.9em;
        margin: 0.166em;
    }
    .react-datepicker__current-month {
        font-size: 1em;
    }
    .react-datepicker__navigation {
        top: 0.5em;
        line-height: 1.7em;
        border: 0.45em solid transparent;
    }

}