.container {
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 2px solid aquamarine;
    border-radius: 15px;
    padding: 30px;
}

@font-face {
    font-family: 'OpenSans';
    src: url(./fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'HemiHead';
    src: url(./fonts/HemiHead.ttf);
}

@font-face {
    font-family: 'RobotoMono';
    src: url(./fonts/RobotoMono-Regular.ttf);
}