* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: color 0.1s ease;
}

@font-face {
    font-family: 'OpenSans';
    src: url(./fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'HemiHead';
    src: url(./fonts/HemiHead.ttf);
}

@font-face {
    font-family: 'RobotoMono';
    src: url(./fonts/RobotoMono-Regular.ttf);
}